.currency__form {
    text-align: center;
    margin: 0 auto;
}

.currency__input {
    max-width: 300px;
    width: 100%;
    color: white;
    background-color: darkcyan;
}

.currency__select {
    background-color: #3ec;
}

.btn {
    background-color: red;
    border-radius: 50%;
}